html {
  background-color: rgb(49,49,49);
  color: #E3E3E3;
  text-align: center;
}

#page-container {
  position: relative;
  min-height: 100vh;
}

#content-wrap {
  padding-bottom: 20%;
}

#footer {
  position: absolute;
  bottom: 0%;
  width: 100%;
  height: 20%;
}

body {
  font-size: 16px;
  line-height: 1;
}

@media only screen and (min-width: 769px) {

  body { 
     font-size: .5rem; 
  }

}

body,html{
  padding:0px;
  margin:0px;
}

h1 {
  font-size: 2.5em;
  line-height: 1em;
  font-family: monospace;
}

h2 {
  font-size: 2.5em;
  line-height: 1em;
  font-family: monospace;
}

h3 {
  font-size: 2.5em;
  line-height: 1em;
  padding-top: 2em;
  margin: auto auto .5em auto;
}

h4 {
  font-size: 2.5em;
  line-height: 1em;
  padding: 0.625em auto auto auto;
  margin: .5em 0 .25em 0;
  color: black;
}

p {
  font-size: 1.5rem;
  line-height: 1.5em;
  text-align: left;
  max-width: 70%;
  margin-left: 15%;
  margin-right: 15%;
}

p3 {
  font-size: 1.5rem;
  line-height: 2em;
  text-align: left;
}

@media only screen and (min-width: 426px) {

  h1 {
    font-size: 2.5em;
    line-height: 1em;
    font-family: monospace;
    padding-left: 0;
  }

  h2 {
    font-size: 2em;
    line-height: 1em;
    font-family: monospace;
    padding-left: 0;
  }

  p { 
     font-size: 2rem;
     line-height: 3.5rem; 
  }

  p3 {
    font-size: 1.5rem;
    padding: 0;
    margin: 0;
    text-align: left;
  }

}

@media only screen and (min-width: 769px) {

  h1 {
    font-size: 5rem;
    line-height: 7.5rem;
    font-family: monospace;
    padding-left: 0;
  }

  h4 {
    font-size: 3.5rem;
    line-height: 1em;
    padding-top: 5%;
    margin: 0;
    color: rgb(207, 212, 218)
  }

  p { 
     font-size: 3.5rem;
     line-height: 5.5rem; 
  }

}

p2 {
  font-size: 1.125em;
  font-style: italic;
}


p4 {
  font-size: 1.5rem;
  line-height: 2.25rem;
  padding: auto auto 0.625em auto;
  color: black;
}

ol {
  list-style-position: inside;
  font-size: 1.5em;
  padding-right: 4.0625em;
  text-align: left;
  margin: 0 auto auto 1.5625em;

}

ul {
  font-family: Arial, Helvetica, sans-serif;
  list-style-position: inside;
  list-style-type: square;
  font-size: 1.5em;

  line-height: 1.5em;
  margin-top: 0;
  max-width: 80%;
  margin-left: 10%;
  margin-right: 10%;
}

.column-list {
  column-count: 2;
}

a:link {
  color: #99C7E2;
}

a:hover {
  color:#aee0fd;
}

a:active {
  color:#7192a5;
}

a:visited {
  color:aqua;
}

@media screen and (min-width: 426px) {

.nav-grid {
  display: grid;
  grid-template-columns: auto auto auto auto auto auto;
  gap: auto;
  padding: 0;
}

.nav {
  position: sticky;
  overflow: auto;
  background-color: rgb(77, 77, 77);
  font-family: sans-serif;
  font-style: bold;
  top: 0;
}

.nav a {
  display: flex;
  float: left;
  color: #E3E3E3;
  text-align: left;
  padding: 14px 16px;
  justify-content: space-evenly;
  text-decoration: none;
  font-size: 1rem;
  position: sticky;
}

.nav a:hover {
  background-color: #aee0fd;
  color: black;
}

.nav a.active {
  background-color: #2db2ff;
  color:#ffffff;
}
}

.index {
  background-color: #2db2ff;
  color:#ffffff;
  font-size: 5em;
}

.index a:hover {
  color: aqua;
}

.index a:visited {
  color: white;
}

.indexGrid {
  display: grid;
  width: 100%;
  height: 100vh;
  justify-content: space-between;
  align-items: center;
  grid-template-columns: repeat(6,1fr);
  grid-template-rows: 25% auto 25% 25% auto;
}

.indexTitle {
  font-size: 10rem;
  grid-column: 2 / span 4;
  grid-row: 2 / span 1;
}

.indexEducation {
  text-decoration: none;
  grid-column: 2 / span 1;
  grid-row: 4 / span 1;
}

.indexSkills {
  grid-column: 3 / span 1;
  grid-row: 4 / span 1;
}

.indexExperience {
  grid-column: 4 / span 1;
  grid-row: 4 / span 1;
}

.indexArt {
  grid-column: 5 / span 1;
  grid-row: 4 / span 1;
}

.selfie {
  box-shadow: 0 0 1.5625em rgb(134, 134, 134);
 max-width: fit-content;
 max-height: 23.5em;
 margin: 0 auto 0 auto;
}

.art3D {
  justify-content: left;
}

img {
  height: auto;
  width: 100%;
}

.zoom {
  width: 100%;
  height: 100%;
  overflow: hidden;
  margin: auto;
}

.zoom img {
  width: 150%;
  transition: 0.5s all ease-in-out;
}

.zoom:hover img {
  transform: scale(1.5);
}

.column {
  float: left;
  width: 50%;
  height: 100%;
}

.row::after {
  content: "";
  clear: both;
  display: table;
}

.container {
  display: grid;
  justify-content: center;
  align-items: stretch;
  grid-template-columns: 50% 25% 25%;
  grid-template-rows: 50% 50%;
  grid-template-areas:
    'moonlight name desert'
    'moonlight fruit desert';
    gap: 0.625em 0.625em;
    margin-top: 1.875em;
    margin-bottom: 1.25em;
    max-width: 80%;
    margin-left: 10%;
}

.item-a {
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 1;
  grid-row-end: span 2;
}

.item-b {
  grid-column-start: 2;
  grid-column-end: 3;
  grid-row-start: 1;
  grid-row-end: 2;
}

.item-c {
  grid-column-start: 2;
  grid-column-end: 3;
  grid-row-start: 2;
  grid-row-end: span 1;
}

.item-d {
  grid-column-start: 3;
  grid-column-end: span 1;
  grid-row-start: 1;
  grid-row-end: span 2;
}

.break {
  display: block;
}

.containerSkills {
  display: flex;
  flex-flow: column nowrap;
  width: 100vw;
  gap: 0;
  justify-content: center;
}

.ST1{
  font-size: 1.5rem;
  line-height: 2.25em;
  text-align: left;
  align-self: center;
  padding-left: 6.25%;
  padding-right: 6.25%;
  padding-bottom: 12.5%;
  color: lightblue;
}

.ST2{
  font-size: 1.5rem;
  line-height: 2.25em;
  text-align: left;
  align-self: center;
  padding-left: 6.25%;
  padding-right: 6.25%;
  padding-bottom: 12.5%;
}

.ST3{
  font-size: 1.5rem;
  line-height: 2.25em;
  text-align: left;
  align-self: center;
  padding-left: 6.25%;
  padding-right: 6.25%;
  padding-bottom: 12.5%;
  color: lightblue;
}

.SI1{
  flex-grow: 1;
  width: 100%;
}

.SI2{
  flex-grow: 1;
  width: 100%;
  display: none;
}

@media only screen and (min-width: 426px) {

  .break {
    display: none;
  }

  .containerSkills{
    display: grid;
    width: 100%;
    justify-content: center;
    align-items: center;
    grid-template-columns: repeat(3,1fr);
    grid-template-rows: auto;
  }

  .skill1 {
    grid-column: 1 / span 1;
    grid-row: 1 / span 1;
  }
  
  .skill2 {
    grid-column: 2 / span 2;
    grid-row: 1 / span 1;
  }
  
  .skill3 {
    grid-column: 1 / span 2;
    grid-row: 2 / span 1;
  }
  
  .skill4 {
    grid-column:3 /span 1;
    grid-row: 2 / span 1;
  }
  
  .skill5 {
    grid-column: 1 / span 1;
    grid-row: 3 / span 1;
  }
  
  .skill6 {
    grid-column: 2 / span 2;
    grid-row: 3 / span 1;
  }
    .SI1 {
      display: none;
    }
    .SI2 {
      display: block;
    }

    .ST1 {
      text-align: left;
      align-self: center;
      padding-left: 0%;
      font-size: 1.5rem;
      line-height: 2.25em;  
      padding-right: 5%;
      padding-bottom: 0;
      }

    .ST2 {
    text-align: right;
    align-self: center;
    padding-left: 5%;
    font-size: 1.5rem;
    line-height: 2.25em;  
    padding-right: 0%;
    }
    .ST3 {
      text-align: left;
      align-self: center;
      padding-left: 0%;
      font-size: 1.5rem;
      line-height: 2.25em;  
      padding-right: 5%;
      }
}

label {
  width: 100%;
  font-size: 24px;
  background: rgb(19, 19, 19);
  display: block;
}

@media only screen and (min-width: 769px) {
  label{
    display: none;
  }
}

#hidden {
  display: none;
  background: rgb(26, 26, 26);
}

:checked + #hidden {
  display: block;
}

@media only screen and (min-width: 426px) {

  .containerArt {
    display: grid;
    width: 100%;
    justify-content: space-between;
    grid-template-columns: 50% 50%;
    grid-template-rows: auto;
    flex-wrap: nowrap;
    flex-grow: 1;
  }

  .art1 {
    grid-column: 1 / span 1;
  }

  .art2 {
    grid-column: 2 / span 1;
  }
}

  .containerArtBig {
    display: none;
  }

@media only screen and (min-width: 769px) {
  
  .containerArt{
    display: none;
  }

  .containerArtBig {
    display: grid;
    width: 80%;
    padding-top: 10vh;
    margin-left: 10%;
    justify-content: space-between;
    grid-template-columns: 40% auto 40%;
    grid-template-rows: auto;
    flex-wrap: nowrap;
    flex-grow: 1;
  }

  .artText1 {
    font-size: 2rem;
    grid-column: 1 / span 1;
    grid-row: 1 / span 1;
  }

  .artText2 {
    font-size: 2rem;
    grid-column: 3 / span 1;
    grid-row: 1 / span 1;
  }

  .artPic1 {
    grid-column: 1 / span 1;
    grid-row: 2 / span 1;
  }

  .artPic2 {
    grid-column: 3 / span 1;
    grid-row: 2 / span 1;
  }
}

.containerArtRefF {
  display: grid;
  width: 100%;
  justify-content: center;
  align-items: center;
  grid-template-columns: repeat(2,1fr);
  grid-template-rows: repeat(2,1fr);
  flex-wrap: nowrap;
}

.artRefF1 {
  grid-column: 1 / span 1;
  grid-row: 2 / span 1;
}

.artRefF2 {
  grid-column: 1 / span 2;
  grid-row: 1 / span 1;
}

.artRefF3 {
  grid-column: 2 / span 1;
  grid-row: 2 / span 1;
}

.containerArtRefH {
  display: grid;
  width: 100%;
  justify-content: center;
  align-items: center;
  grid-template-columns: repeat(2,1fr);
  grid-template-rows: repeat(2,1fr);
  flex-wrap: nowrap;
}

.artRefH1 {
  grid-column: 1 / span 1;
  grid-row: 1 / span 1;
}

.artRefH2 {
  grid-column: 2 / span 1;
  grid-row: 1 / span 1;
}

.artRefH3 {
  grid-column: 1 / span 1;
  grid-row: 2 / span 1;
}

.artRefH4 {
  grid-column: 2 / span 1;
  grid-row: 2 / span 1;
}

@media only screen and (min-width: 426px) {

  .containerArtRefF{
    display: flex;
    width: 100%;
    justify-content: space-evenly;
    grid-template-columns: repeat(4,1fr);
    grid-template-rows: 1;
    flex-shrink: 1;

  }
  
  .artRefF1 {
    max-width: 20%;
    grid-column: 1 / span 1;
  }
  
  .artRefF2 {
    max-width: 100%;
    grid-column: 2 / span 2;
  }
  
  .artRefF3 {
    max-width: 20%;
    grid-column: 4 / span 1;
  }

  .containerArtRefH{
    display: flex;
    width: 100%;
    justify-content: space-evenly;
    grid-template-columns: repeat(4,1fr);
    grid-template-rows: 1;
    flex-shrink: 1;

  }
  
  .artRefH1 {
    grid-column: 1 / span 1;
  }
  
  .artRefH2 {
    grid-column: 2 / span 2;
  }
  
  .artRefH3 {
    grid-column: 3 / span 1;
  }

  .artRefH4 {
    grid-column: 4 / span 1;
  }
  
}

.containerArtRefFBig {
  display: none;
} 

.containerArtRefHBig {
  display: none;
}

@media only screen and (min-width: 769px) {

  .containerArtRefF {
    display: none;
  }

  .containerArtRefH {
    display: none;
  }

  .containerArtRefFBig {
    display: flex;
    width: 100%;
    padding-top: 10vh;
    justify-content: space-around;
    grid-template-columns: repeat(4,1fr);
    grid-template-rows: 1;
  }
  
  .artRefF1 {
    max-width: 10%;
    grid-column: 1 / span 1;
  }
  
  .artRefF2 {
    max-width: 40%;
    grid-column: 2 / span 2;
  }
  
  .artRefF3 {
    max-width: 10%;
    grid-column: 4 / span 1;
  }

  .containerArtRefHBig {
    display: flex;
    width: 80%;
    margin-left: 10%;
    padding-top: 10vh;
    justify-content: space-around;
    align-items: center;
    grid-template-columns: 22.5% auto 22.5% auto 22.5% auto 22.5%;
    grid-template-rows: 1;
    padding-bottom: 10vh;
  }

  .artRefH1 {
    max-width: auto;
    grid-column: 1 / span 1;
  }
  
  .artRefH2 {
    max-width: auto;
    grid-column: 3 / span 1;
  }
  
  .artRefH3 {
    max-width: auto;
    grid-column: 5 / span 1;
  }
  
  .artRefH4 {
    max-width: auto;
    grid-column: 7 / span 1;
  }
}

/* Contact Footer */

.contact {
  display: none;
}

@media only screen and (min-width: 769px) {

.contact {
  box-sizing: border-box;
  display: grid;
  border-style: solid;
  border-width: 1vh;
  border-color: rgb(207, 212, 218);
  background-color: rgb(75, 77, 78);
  color: rgb(207, 212, 218);
}

.contactGrid {
  display: grid;
  width: 100%;
  grid-template-columns: 8.25% 8.25% 8.25% 8.25% 33% 8% 25%;
  grid-template-rows: 20% 25% 15% 25% 15%;
}

.contactText1 {
  grid-column: 5 / span 1;
  grid-row: 1 / span 1;
  color: rgb(207, 212, 218)
}
.contactLink1 {
  grid-column: 2 / span 1;
  grid-row: 2 / span 1;
}
.contactLink2 {
  grid-column: 3 / span 1;
  grid-row: 2 / span 1;
}
.contactLink3 {
  grid-column: 2 / span 1;
  grid-row: 4 / span 1;
}
.contactLink4 {
  grid-column: 3 / span 1;
  grid-row: 4 / span 1;
}
.contactText2 {
  padding-top: 5%;
  grid-column: 5 / span 1;
  grid-row: 2 / span 3;
  font-size: 2rem;
  line-height: 3rem;
  color: rgb(207, 212, 218);
}
.contactMap {
  grid-column: 7 / span 2;
  grid-row: 1 / span 5;
  margin: 0;
  padding: 0;
}

}
